<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    발주 관리
  </title>
  <!-- Favicon -->
  <link href="/assets/img/brand/favicon.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
  <link href="/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="/assets/css/argon-dashboard.css?v=1.1.2" rel="stylesheet" />
</head>

<body class="">
  <header th:replace="fragments/admin.head :: commonHead('메인 페이지')"></header>
  <div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block">발주 관리</a>
      </div>
    </nav>
    <!-- End Navbar -->
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8"></div>
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-12">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">발주내역</h3>
                </div>
                <div class="col-4 text-right">
                  <button type="button" class="btn btn-light" onclick="location.href='/admin/ordering/list'">목록</button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="pl-lg-4">
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">요청내역</h6>
				<dl class="tb_set">
                    <div class="dl-item dl-line-right">
                        <dt>요청번호</dt>
                        <dd th:text="${item.order_plan_unty_no}">R25DA-0002-4857</dd>
                    </div>
                    <div class="dl-item dl-line-right">
                        <dt>조달방식</dt>
                        <dd th:text="${item.prcrmnt_methd}">요청</dd>
                    </div>
					<div class="dl-item">
                        <dt>게시일자</dt>
                        <dd th:text="${item.ntice_dt}">2025/11/0710:00</dd>
                    </div>
                    <div class="dl-item dl-full">
                        <dt>요청명</dt>
                        <dd th:text="${item.biz_nm}">농기계 운영 데이터 수집 장비 구매</dd>
                    </div>
                    <div class="dl-item dl-line-right">
                        <dt>업무유형</dt>
                        <dd th:text="${item.bsns_ty_nm}">일반견적</dd>
                    </div>
                    <div class="dl-item dl-line-right">
                        <dt>계약방법</dt>
                        <dd th:text="${item.cntrct_mthd_nm}">요청</dd>
                    </div>
					<div class="dl-item">
                        <dt>공고게시여부</dt>
                        <dd th:text="${item.ntce_ntice_yn}">공개</dd>
                    </div>
                </dl>
				<hr/>
				<h3>기관 / 담당자 정보</h3>
                <dl class="tb_set">
					<div class="dl-item dl-half1 dl-line-right">
                        <dt>총괄 기관명</dt>
                        <dd th:text="${item.order_instt_nm}">주식회사 비바엔에스</dd>
                    </div>
                    <div class="dl-item dl-half2">
						<dt>발주금액</dt>
						<dd th:text="|${#numbers.formatInteger(item.sum_order_amt, 3, 'COMMA')}원|"></dd>
					</div>
                    <div class="dl-item dl-line-right">
                        <dt>부서명</dt>
                        <dd th:text="${item.dept_nm}">신민제</dd>
                    </div>
                    <div class="dl-item dl-line-right">
                        <dt>담당자명</dt>
                        <dd th:text="${item.ofcl_nm}">신민제</dd>
                    </div>
                    <div class="dl-item">
                        <dt>연락처</dt>
                        <dd th:text="${item.tel_no}">02-566-3110</dd>
                    </div>
               	</dl>
				<hr/>
                  
				<button type="button"
				        class="btn btn-danger"
				        th:if="${item.order_plan_unty_no}"
				        th:data-url="@{'/admin/ordering/delete/' + ${item.order_plan_unty_no}}"
				        onclick="deleteItem(this)">
				    삭제하기
				</button>
				
				<script>
				function deleteItem(btn) {
				    if (confirm('정말 삭제하시겠습니까?')) {
				        location.href = btn.dataset.url;
				    }
				}
				</script>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer th:replace="fragments/admin.foot :: commonFoot('푸터 페이지')"></footer>
</body>

</html>